{{#if isEditing}}
  {{partial 'post/edit'}}
  <button class="btn btn-success" {{action 'doneEditing'}}>Done</button>
{{else}}
  <button class="btn btn-primary" {{action 'edit'}}>Edit</button>
{{/if}}

<h1>{{model.title}}</h1>

<h3>by {{model.author.name}} <small class="muted">{{format-date model.date}}</small></h3>

<hr>

<div class="body">
  {{format-markdown model.body}}
</div>